<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!--B1服务地址-->
    <add key="SAPServer" value="192.168.100.238"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!--B1用户名-->
    <add key="SAPUser" value="sa"/>
    <!--B1密码-->
    <add key="SAPPassword" value="sa"/>

    <!--B1License地址-->
    <add key="SAPLicenseServer" value="192.168.100.238:30000"/>

    <!-- 数据库服务地址 -->
    <add key="DataSource" value="192.168.100.238" />
    <!-- 数据库名称 -->
    <add key="InitialCatalog" value="SunPiepeixun" />
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa" />
    <!-- 数据库用户密码 -->
    <add key="Password" value="sa" />
    
    <add key="BaseUrl" value="http://122.5.6.90:7080/"/>

    <!-- 根据日志文件大小 设定日志文件的大小 Large Mid Small-->
    <add key="FileType" value="Large"/>
    
    <!--获取订单数量配置 -->
    <add key="GetPurchaseOrderCount" value="20"/>
    <add key="GetSalesOrderCount" value="20"/>
  </appSettings>
  </configuration>
