<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!--B1服务地址-->
    <add key="SAPServer" value="192.168.33.70"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!--B1用户名-->
    <add key="SAPUser" value="manager"/>
    <!--B1密码-->
    <add key="SAPPassword" value="123456"/>
    <!--B1License地址-->
    <add key="SAPLicenseServer" value="127.0.0.1:30000"/>
    
    <!-- 数据库服务地址 -->
    <add key="DataSource" value="192.168.33.39" />
    <!-- 数据库名称 -->
    <add key="InitialCatalog" value="SBO_CZ" />
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa" />
    <!-- 数据库用户密码 -->
    <add key="Password" value="Vv1860" />
    <add key="BaseUrl" value="http://116.11.186.78:6080"/>
    <add key="OMMIUser" value="admin"/>
    <add key="OMMIPassword" value="cz1860"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>