<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!-- 是否使用主机名称 -->
    <add key="UseHostName" value="true"/>
    <!-- 主机名称 -->
    <add key="HostName" value="DESKTOP-K3G0P2I"/>
    <!--B1服务地址-->
    <add key="SAPServer" value="192.168.1.166"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!-- SAP company database name -->
    <add key="SAPCompanyDB" value="SBO_MAN"/>
    <!--B1用户名-->
    <add key="SAPUser" value="manager"/>
    <!--B1密码-->
    <add key="SAPPassword" value="123456"/>
    <!--B1License地址-->
    <add key="SAPLicenseServer" value="192.168.1.166:30000"/>
    
    <!-- 数据库服务地址 -->
    <add key="DataSource" value="192.168.1.166"/>
    <!-- 数据库名称 -->
    <add key="InitialCatalog" value="SBO_MAN"/>
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa"/>
    <!-- 数据库用户密码 -->
    <add key="Password" value="Aa123456"/>
    <add key="BaseUrl" value="http://192.168.1.83:6060"/>
    <add key="OMMIUser" value="admin"/>
    <add key="OMMIPassword" value="1q2w3e"/>
    <!-- 曼恩自定义-每月账套过期日期 -->
    <add key="DocDueDate" value="25" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
