<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="XZ" type="System.Configuration.NameValueSectionHandler" />
    <section name="BJ" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!-- tibet company -->
  <XZ>
    <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!-- 使用机器名-->
    <add key="UseHostName" value="true" />
    <!-- 主机名字 -->
    <add key="HostName" value="DESKTOP-K3G0P2I" />
    <!--B1服务地址-->
    <add key="SAPServer" value="192.168.1.166"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!--B1用户名-->
    <add key="SAPUser" value="manager"/>
    <!--B1密码-->
    <add key="SAPPassword" value="1212"/>
    <!--B1License地址-->
    <add key="SAPLicenseServer" value="192.168.1.166:30000"/>
    <!-- 数据库服务地址 -->
    <add key="DataSource" value="192.168.1.166" />
    <!-- 数据库名称 -->
    <add key="InitialCatalog" value="SBO_201406" />
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa" />
    <!-- 数据库用户密码 -->
    <add key="Password" value="Aa123456" />
    <add key="BaseUrl" value="http://192.168.1.83:6080"/>
    <add key="OMMIUser" value="admin"/>
    <add key="OMMIPassword" value="1q2w3e"/>
  </XZ>
  <!-- Beijing company -->
  <BJ>
    <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!-- 使用机器名-->
    <add key="UseHostName" value="true" />
    <!-- 主机名字 -->
    <add key="HostName" value="DESKTOP-K3G0P2I" />
    <!--B1服务地址-->
    <add key="SAPServer" value="192.168.1.166"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!--B1用户名-->
    <add key="SAPUser" value="manager"/>
    <!--B1密码-->
    <add key="SAPPassword" value="123TY"/>
    <!--B1License地址-->
    <add key="SAPLicenseServer" value="192.168.1.166:30000"/>
    <!-- 数据库服务地址 -->
    <add key="DataSource" value="192.168.1.166" />
    <!-- 数据库名称 -->
    <add key="InitialCatalog" value="DF2012NEWceshi" />
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa" />
    <!-- 数据库用户密码 -->
    <add key="Password" value="Aa123456" />
    <add key="BaseUrl" value="http://192.168.1.83:6080"/>
    <add key="OMMIUser" value="admin"/>
    <add key="OMMIPassword" value="1q2w3e"/>
  </BJ>


  <appSettings>
    <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!-- 使用机器名-->
    <add key="UseHostName" value="true" />
        <!-- 主机名字 -->
    <add key="HostName" value="DESKTOP-K3G0P2I" />
    <!--B1服务地址-->
    <add key="SAPServer" value="192.168.1.166"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!--B1用户名-->
    <add key="SAPUser" value="manager"/>
    <!--B1密码-->
    <add key="SAPPassword" value="123456"/>
    <!--B1License地址-->
    <add key="SAPLicenseServer" value="192.168.1.166:30000"/>

    <!-- 数据库服务地址 -->
    <add key="DataSource" value="192.168.1.166" />
    <!-- 数据库名称 -->
    <add key="InitialCatalog" value="DF2012NEWceshi" />
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa" />
    <!-- 数据库用户密码 -->
    <add key="Password" value="Aa123456" />
    <add key="BaseUrl" value="http://192.168.1.83:6080"/>
    <add key="OMMIUser" value="admin"/>
    <add key="OMMIPassword" value="1q2w3e"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>